.alt_logo{
    height: auto;
    width: auto;
    max-height: 30px;
    max-width: 30px;
}
    

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


.title{
    color: white;
    text-align: center;
}

.bar{
    color: white;
}

.text{
    color: white;
    text-align: justify;
    font-weight: 100;
}

.icon{
    background-color: #40CFFF;
    text-align: center;
}

.card-text1{
    font-weight: 100;
}

.form1{
    color: white

}

.navbar{
    background-color: transparent !important;
}

html{
    scroll-behavior: smooth;

}

.text2{
    color: white;
    text-align: center;
    font-weight: 200;
}